{% extends 'layout.html.twig' %}

{% block title %}My Blog{% endblock %}

{% block page_contents %}
    <div id="sidebar">
        <div class="nav">
        {% block sidebar %}
            <ul>
                <li><a href="{{ path('new_post') }}">New Post</a></li>
                <li><a href="{{ path('post_list') }}">Posts</a></li>
            </ul>
        {% endblock %}
        </div>
    </div>
    <div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Publish date</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for post in posts %}
        <tbody>
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.created_at|format_datetime('short', 'none', locale='pt-br') }}</td>
                <td>{{ post.author_name }}</td>
                <td><a href="{{ path('post_put', {id: post.id}) }}">Edit</a>|<a href="{{ path('post_get', {id: post.id}) }}">View</a>|<a href="{{ path('post_del', {id: post.id}) }}">Delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
{% endblock %}