{% extends 'layout.html.twig' %}

{% block title %}New Post{% endblock %}

{% block page_contents %}
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('post_list') }}">Posts</a></li>
        </ul>
    {% endblock %}
    <h2>Publish a new post</h2>
    {{ form(form) }}
{% endblock %}