{% extends 'layout.html.twig' %}

{% block title %}My Blog{% endblock %}

{% block page_contents %}
    <div id="sidebar">
        {% block sidebar %}
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('post_list') }}">Posts</a></li>
            </ul>
        {% endblock %}
    </div>
    <div class ="container">
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        {{ post.created_at|format_datetime('short', 'full', locale='pt-br') }}
        <p>{{ post.content }}</p>
        <a href="{{ path('post_put', {id: post.id}) }}">Edit</a>
        <a href="{{ path('post_del', {id: post.id}) }}">Delete</a>
    {% endfor %}
    </div>
{% endblock %}